* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 各要素の幅計算を統一 */
}

body,
html {
  height: 100% !important; /* 親要素全体の高さを100%に設定 */
}

.box {
  position: relative !important; /* 子要素の絶対位置の基準となる */
  min-height: 100vh !important; /* 画面全体の高さを使用 */
  width: 414px;
  margin: 0 auto; /* 横方向中央に配置 */
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex !important;
  flex-direction: flex;
}

.box-inner {
  padding: 20px 26px;
  flex-grow: 1; /* 中央寄せされるために必要な空間を確保 */
}

.box-login {
  margin-bottom: 20px;
}

.footer.box-newer {
  position: absolute !important; /* 親要素に対して絶対位置指定 */
  bottom: 20px !important; /* 画面の下から20px */
  left: 50% !important; /* 左端から50% */
  transform: translateX(
    -50%
  ) !important; /* 自身の幅の半分左に動かして中央揃え */
  width: 100%;
  text-align: center;
}

.footer.box-newer a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f8bd1c;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.footer.box-newer a:hover {
  background-color: #e7e9ec;
}
